$color-background = #000100
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #908d8d
$color-scrollbar = #999
$color-meta = #F197C0
$color-meta-code = #F197C0
$color-link = rgba(212, 128, 170, 1)
$color-text = #F197C0
$color-accent-3 = #F197C0
$color-accent-2 = #F197C0
$color-accent-1 = #F197C0
$color-quote = #6e1100
$highlight = hexo-config("highlight") || "rainbow"