$color-background = #e2e0de
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #6c6c64
$color-scrollbar = #6c6c64
$color-meta = #6c6c64
$color-meta-code = #6c6c64
$color-link = #cf3222
$color-text = #6c6c64
$color-accent-3 = #cf3222
$color-accent-2 = #241d1b
$color-accent-1 = #938b87
$color-quote = #cf3222
$highlight = hexo-config("highlight") || "atelier-cave-light"
